@charset "utf-8";
.container{
    width:1000px;
    margin:0 auto;
}
.index-container{
    width:800px;
    background-color: grey;
    margin: 0 auto;
}
h2{
    text-align: center;
}
.index-content{
    border:solid;
}
.img-container{
    margin: 0 auto;
}
.detail-img{
    display:inline-block;
    width: 45%;
    text-align: center;

}
.detail-container{
    width:800px;
    background-color: grey;
    margin: 0 auto;
}
.detail-content{
    width:80%;
    margin: 0 auto;
}
.detail-content dl{
    border-bottom:solid;
}
footer{
    text-align: center;
}