@charset "utf-8";
h1{
    width:1200px;
    margin: 0 auto;
}
.header-list{
    background-color: black;
}
li{
    list-style-type: none;
}
.header-list ul{
    width:1200px;
    margin:0 auto;
    padding-right:16px;
    padding-left:16px;
}
.header-list li{
    color:white;
    width:1200px;
    display:inline-block;
    width:10%;
}
main{
    width:1200px;
    margin:0 auto;
    padding-right:16px;
    padding-left:16px;
}
.headimg{
    margin:0 auto;
    width:100%;
}
.headimg ul{
    text-align: center;
}
.headimg li{
    width:100%;
    display:inline-block;
    width:30%;
    margin:0 auto;
}
.pickupimg{
    width:100%;
}
.main-content-wrapper{
    width:60%;
    display:inline-block;
}
.main-img{
    width:100%;
}
.right-wrapper{
    width:30%;
    display:inline-block;
}
.archive ul{
    border-top:solid;
}
.archive li{
    border-bottom: solid;
    width:100%;
}
.profile{
    text-align: center;
}
.profile img{
    width:50%;
    margin: 0 auto;
    border-radius: 50%;
}
.ranking-img{
    width:100%;
}